* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    margin:auto;
    padding: 0;
    overflow: hidden;
    background-color: brown;
    width: 62%;
    
}

li{
    float: left;

}
li a{
    display:block;
    color: white;
    text-align: center;
    padding: 30px 35px;
    text-decoration: none;
}
li a:hover{
    background-color: crimson;
    transition: 100ms;
}